<% include ../common/nav.ejs %>
<form method="post" action="/brands/create" class="container" enctype="multipart/form-data">
    <div class="form-group">
        <label for="formGroupExampleInput"></label>
        <input type="text" class="form-control" id="formGroupExampleInput" name="name" placeholder="">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput"></label>
        <input type="text" class="form-control" id="formGroupExampleInput" name="name" placeholder="">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput"></label>
        <input type="text" class="form-control" id="formGroupExampleInput" name="name" placeholder="">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput"></label>
        <input type="text" class="form-control" id="formGroupExampleInput" name="name" placeholder="">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput"></label>
        <input type="text" class="form-control" id="formGroupExampleInput" name="name" placeholder="">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput"></label>
        <input type="text" class="form-control" id="formGroupExampleInput" name="name" placeholder="">
    </div>

    <div class="text-center">
        <button class="btn-primary btn-sm" type="submit">Thêm nhân viên</button>
        &nbsp;
        <a href="/brands" class="btn-primary btn-sm">Hủy</a>
    </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
