<% include ../public/stylesheets/boostrap.ejs %>
<div class="container">
    <div class="card card-login mx-auto text-center bg-dark">
        <div class="card-header mx-auto bg-dark">
            <span> <img src="/images/logo.png"  style="width: 160px" alt="Logo"> </span><br/>

        </div>
        <div class="card-body">
            <form action="/auth" method="post" onsubmit="return validateForm()">
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" name="phone" class="form-control" placeholder="Phone Number">
                </div>
                <div class="username"></div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <div class="password"></div>
                <% if (error){%>
                <div class="alert alert-danger" role="alert">
                    <%= msg %>
                </div>
                <%  }%>
                <div class="form-group">
                    <input type="submit" name="btn" value="Login" class="btn btn-outline-danger float-right login_btn">
                </div>

            </form>
        </div>
    </div>
</div>
<% include ../public/stylesheets/style %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function validateForm(){
        let isValid = true;
        $('.alert-danger').remove();
        let userName =  $('[name="email"]').val();
        if (userName.length == 0){
            isValid=false;
            let userName_err =`<div class="alert alert-danger" role="alert">Username is empty</div>`
            $('.username').after(userName_err)
        }
        let passWord =  $('[name="password"]').val();
        if (passWord.length == 0){
            isValid=false;
            let passWord_err =`<div class="alert alert-danger" role="alert">Password is empty</div>`
            $('.password').after(passWord_err)
        }

        return isValid;
    }



</script>
