<% include ../common/nav.ejs %>
<h2 class="container">Update bàn</h2>
<br>
<form method="post" action="/tables/<%= findTable.id %>/update" class="container" enctype="multipart/form-data">
    <div class="form-group">
        <label for="formGroupExampleInput">Số bàn</label>
        <input type="number" class="form-control" id="formGroupExampleInput" name="tableCode"
               value="<%= findTable.tableCode %>" placeholder="Bàn số">
    </div>

    <div class="form-group" id="formAmount">
        <label for="formGroupExampleInput">Số ghế</label>
        <input type="Number" class="form-control" name="tableSeats" value="<%= findTable.tableSeats %>"
               placeholder="Số ghế">
    </div>
    <% if (err){ %>
        <div class="alert alert-danger" role="alert">
            <%= msg %>
        </div>
    <% } %>
    <div class="text-center">
        <button class="btn-primary btn-sm" type="submit">Update bàn</button>
        &nbsp;
        <a href="/menus" class="btn-primary btn-sm">Hủy</a>
    </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


